.center {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: inline;
  width: 200px;
  height: 100px;
}

#headers {
  padding: 10px;
}

#footer {
  width: 100%;
  border-top: solid 2px black;
  background-color: white;
  position: fixed;
  bottom: 0;
}

#input-parent {
  width: 160px;
  margin: 0 auto;
  position: relative;
}

li {
  display: inline;
}

#player-input {
  text-align: center;
  font-size: 60px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 5% auto 50px;
}

#submit {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 20px;
  left: 110px;
}

.guess {
  display: inline;
  font-size: 60px;
  padding: 0 25px;
  border-radius: 10%;
  background-color: white;
  border: 1px solid black;
}

body {
  background-size: contain;
  background-image: url(https://i.ytimg.com/vi/0sEUdmtyJ3U/maxresdefault.jpg);
}

#app {
  width: 50%;
  margin: 50px auto;
  padding-bottom: 20px;
  border-radius: 15%;
  background-color: rgba(256, 256, 256, 0.75);
}
